<!DOCTYPE html>
<html>
	<head>
		<title>article</title>
	</head>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
	<style type="text/css">
		li{
			display: inline-block;
			width: 374px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.del,.edit{
			margin-left: 20px;
		    position: relative;
		    top: -7px;
		}
	</style>
	<body>
		<% data.forEach(function(item){%>
		<a href="article/<%=item.id%>"><li><%=item.title%></li></a> <a class="edit" href="edit/<%=item.id%>">edit this page</a><a class="del" href="delete/<%=item.id%>">del this page</a><br>
		<%})%>
		<br>
		<br>
		<a href="/write" style="display:block;margin-top: 30px;"><button>to write one article</button></a>
	</body>
</html>